<!-- <div id="title">
  <h1><a href="{{ site.url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
  <p>{{ site.description | default: site.github.project_tagline }}</p>
  <hr>
</div> -->

<header class="site-head">
  <div class="container">

    <a class="site-header-logo no-underline-hover" href="{{ site.baseurl }}/">
      <svg class="vertical-middle" width="156px" height="18px" viewBox="0 0 156 18" xmlns="http://www.w3.org/2000/svg">
        <title>Another Sec Blog</title>
        <text x="0" y="10px" font-size="25px" font-weight="bold" stroke="white" stroke-width="1" fill="none">Another Sec Blog</text>
      </svg>
    </a>

    <!--<nav class="site-header-nav">
      {% capture first_segment %}{{ page.url | remove_first: "/" | split: "/" | first }}{% endcapture %}
      <a class="site-header-nav-item {% if first_segment == 'docs' %}active{% endif %}" href="{{ site.baseurl }}/docs/">{{ site.data.locale.nav.docs }}</a>
      <a class="site-header-nav-item {% if first_segment == 'blog' %}active{% endif %}" href="{{ site.baseurl }}/blog/">{{ site.data.locale.nav.blog }}</a>
      <a class="site-header-nav-item {% if first_segment == 'community' %}active{% endif %}" href="{{ site.baseurl }}/community/">{{ site.data.locale.nav.community }}</a>
      <a class="site-header-nav-item {% if first_segment == 'apps' %}active{% endif %}" href="{{ site.baseurl }}/apps/">{{ site.data.locale.nav.apps }}</a>
      <a class="site-header-nav-item {% if first_segment == 'userland' %}active{% endif %}" href="{{ site.baseurl }}/userland/">{{ site.data.locale.nav.userland }}</a>
      <a class="site-header-nav-item {% if first_segment == 'releases' %}active{% endif %}" href="{{ site.baseurl }}/releases/">{{ site.data.locale.nav.releases }}</a>
      <a class="site-header-nav-item {% if first_segment == 'contact' %}active{% endif %}" href="{{ site.baseurl }}/contact/">{{ site.data.locale.nav.contact }}</a>
      <a class="site-header-nav-item" href="https://github.com/0xtoad/0xtoad.github.io" title="Github Repository"><span class="mega-octicon octicon-mark-github vertical-middle"></span></a>
    </nav>-->
  </div>
</header>
